*{
    margin:0px;
}
.nentrang{
    /*backdrop-filter:blur(50px);*/
    position: relative;
    height: 100%;
    /*width: 100%;*/
}
/*.lopPhu{
    position: absolute;
    background: radial-gradient(circle, transparent 25%, rgb(202, 221, 227) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
}*/
.quanLiFile{
    display: flex;
    width: 85%;
    height:8%;
    gap: 50px;
    top: 0px;
    left: 15%;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    padding:10px;
    position:fixed;
}
.quanLiFile>div{
    display: flex;
    width: 60%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}
.quanLiFile input{
    width: 95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid white;
}
.quanLiFile button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid white;
}
.quanLiFile img{
    /*border-radius: 10px;*/
    border: 1px solid white;
    
}
.quanLiFile p{
    padding-top:10px;
}
.khungdoc{
    gap:10px;
    background-color: lightblue;
    color:rgb(20, 57, 106);
    z-index: 1;
    top:0px;
    position:fixed;
    height:100%;
    width:15%;
}
ol{
    /*position: absolute;*/
    top: 70px;
}
ol li{
    /*position: relative;*/
    height: 30px;
    border: 1px solid white;
    width: 110px;
    padding-top: 7px;
    color:rgb(20, 57, 106);
    background-color: lightblue;
}
li>ol{
    /*position: absolute;*/
    top: 100%;
    display: none;
}
li:hover{
    text-decoration: underline;
}
li:hover>ol{
    display: block;
}
.taofile{
    display:flex;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 100px;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    box-sizing: border-box;
    padding-top: 20px;
    gap: 10px;
    top: 50%;
    left: 30%;
    z-index: 6;
}
.taofile input{
    border: none;
    width: 70%;
    height: 30px;
    margin-left: 15%;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    border-radius: 10px;
}
.taofile button{
    width: 30%;
    margin-left: 70%;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    border: none;
}
#fileTree {
    position: absolute;
    z-index: 20; /* tốt rồi */
    top: 80px;
    right:20px;
}
#fileTree div {
    position: relative; /* không absolute nữa */
    cursor: pointer;
}
