*{
    margin:0px;
    padding:0px;
}
.nentrang{
    /* position: relative; */
    height: 100%;
}
.quanLiFile{
    display: flex;
    width: 100%;
    height:87.5px;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    position:fixed;
    align-items:center;
    top:0px;
    left:0px;
    z-index:9999;
}
.quanLiFile>div{
    display: flex;
    width: 40%;
    height: 40%;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 11%;
    margin-top:1.6%;
}
.quanLiFile input{
    width: 95%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid white;
}
.quanLiFile button{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid white;
    cursor:pointer;
}
.logotimkiem{
    margin-top:1px;
    border-radius: 10px;
}
.avatar{
    margin-left:93%;
    margin-top: 1%;
    width:7%;
    height:53%;
    cursor:pointer;
    position:absolute;
}
.xuattrang{
    width:5%;
    height:22px;
    z-index:10000;
    top:10%;
    right:0.8%;
    background-color: white;
    color:rgb(20, 57, 106);
    position:absolute;
    cursor:pointer;
    border:1px solid rgb(224, 224, 224);
    border-radius: 12px;
    padding:4px;
    display:none;
}
.xuattrang:hover{
    background-color:  rgb(231, 244, 248);
}
.quanLiFile h2{
    margin-top:1.3%;
    margin-left:1.5%;
    cursor:pointer;
}
.khungdoc{
    background-color: rgb(231, 244, 248);
    color:rgb(20, 57, 106);
    top:87.5px;
    position:fixed;
    height:100%;
    width:15%;
}
ol{
    margin-top: 5%;
}
ol li{
    padding-left: 4.5%;
    height: 30px;
    border-radius: 10px;
    width: 80%;
    padding-top:3%;
    color:rgb(20, 57, 106);
    background-color: rgb(231, 244, 248);
    cursor:pointer;
}
li>ol{
    margin-top:5%;
    margin-left:2.7%;
    display: none;
}
li:hover{
    background-color: lightblue;
}
li:hover>ol{
    display: block;
}
.content{
    border:1px solid rgb(191, 194, 197);
    margin-top: 87.5px;       
    margin-left: 15%;      
    padding: 20px;
    height: 2000px;          
    background-color: #f5f6fa;
    width:70%;
    display:flex;
    border-radius: 2px;
    flex-wrap: wrap;
}
/* .content div{
    width:43%;
    height:250px;
    border:1px solid rgb(132, 133, 134);
    border-radius: 10px;
    background-color: #f2f2f5;
    box-shadow:5px 10px #c9c9cd;
    padding:20px;
    margin-left:20px;
    margin-top:12px;
} */
.khungthongke{
    width:13%;
    height:2000px;
    top: 87.5px;       
    left: 87.9%; 
    position:fixed;
    border:1px solid rgb(191, 194, 197);
    border-radius: 2px;
    background-color: #f5f6fa;
    padding:20px;
}
.taofile{
    position:relative;
    width:30%;
    height:60px;
    border:1px solid rgb(205, 206, 206);
    border-radius: 10px;
    background-color: #f2f2f5;
    box-shadow:5px 10px #c9c9cd;
    margin-left:20px;
    margin-top:12px;
    display:none;
}
.taofile input{
    position:absolute;
    border: 1px solid gray;
    width: 65%;
    height: 30px;
    color:rgb(20, 57, 106);
    border-radius: 20px;
    top:30%;
    left:6%;
    padding-left: 10px;
}
.taofile button{
    position:absolute;
    width: 12%;
    border: 1px solid gray;
    color:rgb(20, 57, 106);
    border-radius: 5px;
    right:10%;
    top:38%;
    padding:2px;
}
.taofile button:hover{
    background-color: #c9c9cd;
}
#tat{
    position:absolute;
    width: 5%;
    height:20px;
    color:rgb(20, 57, 106);
    border: 1px solid gray;
    border-radius: 5px;
    left:1%;
    top:1%;
    border-style: none;
}
#fileTree {
    /* border:1px solid rgb(191, 194, 197);      */
    margin-left: 1%;      
    padding: 10px;
    height: 1980px;          
    background-color: #f5f6fa;
    width:100%;
    margin-top: 15px;
}
#khungfile{ 
    width:30%;
    height:40px;
    border:1px solid gray;
    border-radius: 10px;
    background-color: #f2f2f5;
    cursor: pointer;
    padding-left: 10px;
    box-shadow:5px 10px #c9c9cd;
    display:flex;
    margin-top: 25px;
}
#tenfolder{
    width:43%;
    height:20px;
    border-radius: 10px;
    background-color: #f2f2f5;
    margin-top:3%;
    margin-left: 0%;
    cursor: pointer;
    padding-left: 5px;
}
#fileTree button{
    height:20px;
    border:1px solid gray;
    border-radius: 10px;
    margin-top:3%;
}
#doiTen{
    margin-left: 10px;
    padding:0px 3px;
    width:auto;
}
#doiTen:hover{
    background: #c9c9cd;
}
#xoa{ 
    padding:0px 5px;
    width:auto;
}
#xoa:hover{
    background: #c9c9cd;
}