*{
    margin:0px;
}
.nentrang{
    /*backdrop-filter:blur(50px);*/
    position: relative;
    height: 100%;
    /*width: 100%;*/
}
.lopPhu{
    position: absolute;
    background: radial-gradient(circle, transparent 25%, rgb(202, 221, 227) 100%);
    width: 100%;
    height: 100%;
    top: 0;
}
.dangnhap{
    width:50%;
    height: 50%;
    position:absolute;
    top:30%;
    left: 27%;
    box-sizing: border-box;
    color:rgb(20, 57, 106);
}
.dangnhap  input{
    font-size: 15px;
    width: 100%;
    height: 30%;
    padding: 20px;
    border-radius: 10px;
}
.dangnhap  button{
    color:white;
    background-color:rgb(76, 207, 239);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    margin-left:27%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-style: none;
    cursor:pointer;
}
.dangnhap a{
    color:blue;
    text-decoration:none;
}
.dangnhap  button:hover{
    background-color: rgb(54, 169, 219);
}
/*.nentrang{
    position: relative;
    width: 100%;
}*/
.dangky{
    width:50%;
    height: 50%;
    position:absolute;
    top: 30%;
    left: 27%;
    box-sizing: border-box;
    color:rgb(20, 57, 106);
}
.dangky input{
    font-size: 15px;
    width: 100%;
    height: 30%;
    padding: 20px;
    border-radius: 10px;
}
.dangky button{
    color:white;
    background-color:rgb(76, 207, 239);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    margin-left: 30%;
    border-style: none;
    margin-left:27%;
    margin-top: 2%;
    cursor:pointer;
}
.dangky  button:hover{
    background-color: rgb(54, 169, 219);
}



