*{
    margin:0px;
}
.nentrang{
    /* position: relative; */
    height: 100%;
    display:flex;
    margin-top:3%;
    margin-left: 4%;
}
.khung1{
    width:45%;
    height:100%;
    background-color: lightblue;
    border:2px solid gray;
    border-radius: 10px;
    text-align: center;
    color:rgb(20, 57, 106);
    padding:1%;
}
.khung2{
    width:45%;
    height:100%;
    background-color: white;
    border:2px solid gray;
    border-radius: 10px;
    text-align: center;
    padding-top:4%;
    padding-left: 4%;
    padding-bottom: 4%;
    background-color: rgb(243, 249, 250);
}
.dangnhap{
    width:90%;
    height: 90%;
    box-sizing: border-box;
    color:rgb(20, 57, 106);
    border:1px solid rgb(238, 249, 248);
    border-radius: 10px;
    background-color: lightblue;
    text-align: center;
    padding-top:3%;
    padding-bottom: 1%;
}
.dangnhap  input{
    font-size: 15px;
    width: 70%;
    height: 45%;
    margin-bottom: 5%;
    border-radius: 10px;
    border-style: hidden;
    padding:1%;
    padding-left: 3%;
}
.dangnhap  button{
    color:white;
    background-color:rgb(76, 207, 239);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    margin-bottom: 2%;
    border-style: none;
    cursor:pointer;
}
h4{
    margin-bottom: 5%;
}
.dangnhap a{
    color:blue;
    text-decoration:none;
}
.dangnhap  button:hover{
    background-color: rgb(54, 169, 219);
}
.dangky{
    width:50%;
    height: 50%;
    position:absolute;
    top: 30%;
    left: 27%;
    box-sizing: border-box;
    color:rgb(20, 57, 106);
}
.dangky input{
    font-size: 15px;
    width: 100%;
    height: 30%;
    padding: 20px;
    border-radius: 10px;
}
.dangky button{
    color:white;
    background-color:rgb(76, 207, 239);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    margin-left: 30%;
    border-style: none;
    margin-left:27%;
    margin-top: 2%;
    cursor:pointer;
}
.dangky  button:hover{
    background-color: rgb(54, 169, 219);
}



