*{
    margin:0px;
}
.nentrang{
    position: relative;
    height: 100%;
}
.quanLiFile{
    display: flex;
    width: 100%;
    height:12%;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    padding-top:1%;
    position:fixed;
}
.quanLiFile>div{
    display: flex;
    width: 40%;
    height: 40%;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 11%;
    margin-top: 1%;
}
.quanLiFile input{
    width: 95%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid white;
}
.quanLiFile button{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid white;
    cursor:pointer;
}
.logotimkiem{
    margin-top:1px;
    border-radius: 10px;
}
.avatar{
    margin-left: 29%;
    margin-top: 1%;
    width:7%;
    height:56%;
    cursor:pointer;
}
.quanLiFile h2{
    margin-top:2%;
    margin-left:1%;
    cursor:pointer;
}
.khungdoc{
    background-color: rgb(231, 244, 248);
    color:rgb(20, 57, 106);
    z-index: -1;
    top:13%;
    position:fixed;
    height:88%;
    width:15%;
}
ol{
    margin-top: 4%;
}
ol li{
    padding-left: 4%;
    height: 30px;
    border-radius: 10px;
    width: 120px;
    padding-top:5%;
    color:rgb(20, 57, 106);
    background-color: rgb(231, 244, 248);
    cursor:pointer;
}
li>ol{
    margin-top:10%;
    margin-left:-39%;
    display: none;
}
li:hover{
    background-color: lightblue;
}
li:hover>ol{
    display: block;
}
.taofile{
    display:flex;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 100px;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    box-sizing: border-box;
    padding-top: 20px;
    gap: 10px;
    top: 50%;
    left: 30%;
    z-index: 6;
}
.taofile input{
    border: none;
    width: 70%;
    height: 30px;
    margin-left: 15%;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    border-radius: 10px;
}
.taofile button{
    width: 30%;
    margin-left: 70%;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    border: none;
}
#tat{
    width: 30%;
    margin-left: 70%;
    color:rgb(20, 57, 106);
    background-color: lightblue;
    border: none;
}
#fileTree {
    position: absolute;
    z-index: 20;
    top: 80px;
    right:20px;
}
#fileTree div {
    position: relative; 
    cursor: pointer;
}
